h1 {
    text-align: center;
    display: block;
    font-size: 3rem;
    border-bottom: 1px solid #3a3a3c;
    margin: 0px;
}

h2 {
    font-size: 2.5rem;
    margin:0;
}

h3 {
    font-size: 1.65rem;
}

pre {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

body {
    background-color: #121213;
    color: #fff;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding: 0;
    height: 100%;
}

:root{
    --widthratio : 0;
}

button {
    padding: none;
    outline: none;
    border-width: 0;
}

html {
    height: 100%;
}

p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

keytext{
    display: none;
}

bkeytxt {
    display: none;
}

@media(min-width:690px){
    keytext {
        display: block;
        position: absolute;
        bottom: 0px;
        right: 3px;
        line-height:normal;
        font-size: small;
        font-weight: 900;
    }

    bkeytxt {
        display: block;
        position: absolute;
        bottom: 105px;
        right: -20px;
        line-height:normal;
        font-size: small;
        font-weight: 900;
        color:#fff;
        z-index: 2;
    }
}

label{
    font-size: x-large;
}

select {
    font-size: x-large;
    float:right;
}

form{
    position: relative;
    border-bottom: 1px solid #3a3a3c;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

.icon {
    padding-top: 0.5rem;
}

.staff{
    transform: scale(calc(1vw / 1));
}

#overlayBackground{
    position: fixed;
    background-color: #00000000;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
    backdrop-filter: blur(2px);
}

#overlayBackground.visible{
    opacity: 1;
}

.endingScreen {
    background-color: #121213;
    margin: auto;
    width: 450px;
    outline: solid 2px #3a3a3c;
    border-radius: 4px;
    text-align: center;
    margin-top: 100px;
    margin-left: 25px;
    margin-right:25px;  
    padding-bottom: 2rem;
}

#chords {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.4rem;
}

.chordSymbolInput {
    margin-left: 10px;
    margin-right: 0px;
    background-color: #121213;
    color:#fff;
    width: 60px;
    font-size: 1.4rem;
}

.chordSymbolInput.error {
    color:#dd2211;
}

.smallSuggestButton {
    color:#fff;
    background-color: #000;
    font-size: 1.5rem;
    width: 25px;
    outline: solid 2px #999;
    border-radius: 4px;
    float: right;
    margin: 2px 4px;
}

.smallSuggestButton:active{
    color:#fff;
    background-color: #3a3a3c;
}

.chordSymbol {
    margin-left: 10px;
    margin-right: 0px;
}

.staff {
    max-width: max-content;
}

#piano-keyboard{
    display: block;
}

.key {
    float: left;
    position: relative;
    width: calc((100% / 7) - 2px);
    height: 240px;
    margin: 0 2px 2px 0;
    padding: 0%;
    background: #fff;
    color:#000;
    border-radius: 0 0 4px 4px;
}

.key.pressed,
.key:active {
    background: #f4f3f3;
    box-shadow: inset 3px 2px 3px #999, inset -3px 2px 3px #999;
}

.key.black {
    width: 0;
    margin: 0;
    z-index: 2;
    position: relative;
}

.key.black:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -25px;
    display: block;
    width: 50px;
    height: 140px;
    background: #000;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 0 #555, 2px 2px 0 #555;
    color:#fff;
}

.key.black.pressed:after,
.key.black:active:after {
    background-color: #222;
}

.piano-button-above {
    font-size: 2.5rem;
    line-height: 60px;
    border-radius: 4px;
    background-color: #000;
    outline: solid 2px #999;
    color: #fff;
    width: calc(12.5% - 4px);
    position: relative;
    z-index: 1;
}

.piano-button {
    font-size: 2.5rem;
    line-height: 70px;
    border-radius: 4px;
    background-color: #fff;
    width: calc(12.5% - 4px);
    position: relative;
    z-index: 0;
}

.piano-button-above:active,
.piano-button-above-pressed,
.piano-button:active,
.piano-button-pressed {
    background-color: #999;
}